@model ICollection<Nozama.Models.CartProducts>

@{
    ViewBag.Title = "Cart";
}

<h2>Index</h2>


<table class="table">
    @*    <tr>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.ProductType)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.Description)*@
    @*        </th>*@
    @*        <th>*@
    @*            @Html.DisplayNameFor(model => model.Price)*@
    @*        </th>*@
    @*    </tr>*@

    @foreach (var product in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Product.ProductType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => product.Product.Price)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id= product.Product.ProductID })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Checkout", "Index", "Checkout")
