@model List<Nozama.Models.Product>

@{
    ViewBag.Title = "Cart";
}

<h2>Index</h2>


<table class="table">
@*    <tr>*@
@*        <th>*@
@*            @Html.DisplayNameFor(model => model.ProductType)*@
@*        </th>*@
@*        <th>*@
@*            @Html.DisplayNameFor(model => model.Description)*@
@*        </th>*@
@*        <th>*@
@*            @Html.DisplayNameFor(model => model.Price)*@
@*        </th>*@
@*    </tr>*@

@foreach (var product in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => product.ProductType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => product.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => product.Price)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id= product.ProductID })
        </td>
    </tr>
}

</table>
